{% if product.tags contains "Count-1" %}
<p class="hed-color-count">- 1 COLOR -</p>
{% elsif product.tags contains "Count-2" %}
<p class="hed-color-count">- 2 COLORS -</p>
{% elsif product.tags contains "Count-3" %}
<p class="hed-color-count">- 3 COLORS -</p>
{% elsif product.tags contains "Count-4" %}
<p class="hed-color-count">- 4 COLORS -</p>
{% elsif product.tags contains "Count-5" %}
<p class="hed-color-count">- 5 COLORS -</p>
{% elsif product.tags contains "Count-6" %}
<p class="hed-color-count">- 6 COLORS -</p>
{% elsif product.tags contains "Count-7" %}
<p class="hed-color-count">- 7 COLORS -</p>
{% elsif product.tags contains "Count-8" %}
<p class="hed-color-count">- 8 COLORS -</p>
{% elsif product.tags contains "Count-9" %}
<p class="hed-color-count">- 9 COLORS -</p>
{% elsif product.tags contains "Count-10" %}
<p class="hed-color-count">- 10 COLORS -</p>
{% elsif product.tags contains "Count-11" %}
<p class="hed-color-count">- 11 COLORS -</p>
{% elsif product.tags contains "Count-12" %}
<p class="hed-color-count">- 12 COLORS -</p>
{% elsif product.tags contains "Count-13" %}
<p class="hed-color-count">- 13 COLORS -</p>
{% elsif product.tags contains "Count-14" %}
<p class="hed-color-count">- 14 COLORS -</p>
{% elsif product.tags contains "Count-15" %}
<p class="hed-color-count">- 15 COLORS -</p>
{% elsif product.tags contains "Count-16" %}
<p class="hed-color-count">- 16 COLORS -</p>
{% elsif product.tags contains "Count-17" %}
<p class="hed-color-count">- 17 COLORS -</p>
{% elsif product.tags contains "Count-18" %}
<p class="hed-color-count">- 18 COLORS -</p>
{% elsif product.tags contains "Count-19" %}
<p class="hed-color-count">- 19 COLORS -</p>
{% elsif product.tags contains "Count-20" %}
<p class="hed-color-count">- 20 COLORS -</p>
{% elsif product.tags contains "Count-21" %}
<p class="hed-color-count">- 21 COLORS -</p>
{% elsif product.tags contains "Count-22" %}
<p class="hed-color-count">- 22 COLORS -</p>
{% endif %} 